$borderColor1: #b7ddf2;
$backgroundColor: #ebf4fb;
$borderColor2: #aacfe4;
$fontFamily: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

.myform {
  margin:0 auto;
  padding:14px;
}

#stylized {
  border: solid 1px $borderColor1;
  background: $backgroundColor;
  font-family: $fontFamily;
  font-weight:bold;
}

#stylized label {
  display:block;
}
#stylized input {
  padding:4px 2px;
  border: solid 1px $borderColor2;
  margin: 2px 0 20px 10px;
}

#stylized textarea {
  padding:4px 2px;
  border: solid 1px $borderColor2;
  margin: 2px 0 20px 10px;
}
